#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* Home page*/ 
.header h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15rem;
  color: #292929;
}
/* Navbar :) */
nav {
  display: flex;
  position: fixed;
  flex-direction: row; 
  top: 0; 
  right: 0; 
}
nav ul {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

nav li{
  font-size: 1.2rem;
  list-style: none;
}
/* Pages */
.page-title{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.page-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  min-width: 1000px;
}




/*app.jsx*/

.text {
  display: flex;
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
}

.background {
  flex: 1; 
  width: 50%; 
  height: 100%; 
  object-fit: cover; 
  margin: 0; 
  padding: 0; 
}

.header {
  flex: 1; /* Take up the right side of the space */
  padding: 20px;
  text-align: left; /* Align text to the left */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
}


/*Cards Container*/

.posts-page-header{
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  margin: 2rem 0;
  padding: 0rem;
  align-items:center;

}

#standard-basic {
  width: 100%; /* Makes the TextField take up the full width of its container */
  max-width: 700px; /* Limits the maximum width of the TextField */
  margin: 0 auto; /* Centers the TextField horizontally */
}

.card {
  padding: 2em;
  
}

.read-the-docs {
  color: #888;
}
/*text area container*/
.text-container {
  width: 100%;
  max-width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(249, 249, 249, 0.1);
  resize: vertical;
  margin-bottom: 15px;
}

.text-container:focus {
  outline: none;
  border-color: #961927;
  box-shadow: 0 0 5px #961927;
}


/*radio*/
input:focus{
  outline: none;
  border-color: #961927;
  box-shadow: 0 0 5px #961927;
  

}
.radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: #1e1e1e;
  cursor: pointer;
}

.radio-input {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #101010;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.radio-input:checked {
  background-color: #f0fa66;
  border-color: #f4fb8f;
}

.radio-input:hover {
  border-color: #aaa;
}
